/* html {
  height: 100%;
} */

body {
  background-color: #122e5b;
  color: #eaf0f9;
  font-family: Tahoma;

}

ul {
  /* list-style-type: none; */
  /* font-family: Tahoma; */
  /* display: inline; */
}

li {
  margin-top: 30px;
  list-style-type: none;
    font-family: Tahoma;
    margin-left: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: red !important;
}

a:visited {
  color: black;
}


#navdiv {
  height: 100vh;
  width: 275px;
  /* border: 1px solid black; */
  background-color: white
  /* overflow: auto; */
}

.navlogo {
  height: 150px;
  width: 100%;
}

/* .icondiv {
  display: flex;
  position: relative;
  top: 40px;
} */

.allteams {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#navdiv {
  display: none;
  /* display: flex;
  position: relative; */
  position: absolute;
}

/* #outernavdiv {
  display: flex;
  justify-content: space-between;
} */

#openclosediv {
display: flex;
justify-content: flex-start;
}

div>p {
  margin-top: 2px;
  margin-left: 10px;
}
span {
  cursor: pointer;
}

table {
  /* border: 1px solid red; */
  width: 100%;
  font-size: 30px;
}

.firstrowoftable {
  border: none;
}

/* td {
border-bottom: 2px solid #4286f4;
} */

.tablediv {
  text-align: center;
}

.teamnametitle, .allteams, .selectteam {
  font-size: 40px;
}

.selectteam {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}

#opennav {
  width: 25px;
  /* display: inline;  */
}

hr {
  border-color: #4286f4;
}

/* .navselect {
  display: inline-block;
} */

.material-icons {
  cursor: pointer; 
}
